{% extends 'app/bootstrap.html' %}

{% load django_bootstrap5 %}

{% block bootstrap5_content %}
    <div class="container-fluid" style="max-width=100%">        
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Diagram Chase DB</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/enjoysmath/DiagramChaseDatabase">Source Code</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/enjoysmath/DiagramChaseDatabase/issues">Report Bug</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="{% url 'home' %}">home</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="{% url 'formset_default' %}">formset</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="{% url 'form_default' %}">form</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="{% url 'form_by_field' %}">form_by_field</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="{% url 'form_horizontal' %}">form_horizontal</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="{% url 'form_inline' %}">form_inline</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="{% url 'form_with_files' %}">form_with_files</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="{% url 'pagination' %}">pagination</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="{% url 'misc' %}">miscellaneous</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            
            {% if user.is_authenticated %}
              <a class="btn btn-secondary" type="button" href="{% url 'logout' %}" style="margin:8px">
                Log Out
              </a>
            {% else %}
              <a class="btn btn-success" type="button" href="{% url 'login' %}" style="margin:8px">
                Log In
              </a>
            {% endif %}
          </div>
        </div>
      </nav>        

      <h1>{% block title %}{% endblock %}</h1>
      
      {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

      {% block content %}
        (no content)
      {% endblock %}
  </div>  

{% endblock %}
