{% load static %}

<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
  <title>
   DiagramChaseDatabase
  </title>
  <link href='{% static "bootstrap/css/bootstrap.min.css" %}' rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&amp;display=swap" rel="stylesheet"/>
  <link href='{% static "css/Articles-Cards-images.css" %}' rel="stylesheet"/>
  <link href='{% static "css/Editable-Text.css" %}' rel="stylesheet"/>
  <link href='{% static "css/Navbar-Centered-Brand-Dark-icons.css" %}' rel="stylesheet"/>
  <link href='{% static "css/styles.css" %}' rel="stylesheet"/>
 </head>
 <body>
  {% for diagram in diagrams %}
  <div class="card" style="margin: 4px;">
   <div class="card-body diagram-list-item-body">
    <h4 class="card-title" dj-ref="diagram.name">
    </h4>
    <p class="card-text" dj-ref="diagram.checked_out_by">
     Additional information
    </p>
    <div class="diagram-screenshot">
     <iframe class="quiver-embed diagram-list-quiver-embed" src="https://q.uiver.app?q={{ diagram.embed_data }}&amp;embed">
     </iframe>
    </div>
   </div>
  </div>
  {% endfor %}
  <script src='{% static "js/jquery.min.js" %}'>
  </script>
  <script src='{% static "bootstrap/js/bootstrap.min.js" %}'>
  </script>
  <script src='{% static "js/bs-init.js" %}'>
  </script>
  <script src='{% static "js/django_messages.js" %}'>
  </script>
 </body>
</html>