<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DiagramChaseDatabase</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/Articles-Cards-images.css">
    <link rel="stylesheet" href="/assets/css/Editable-Text.css">
    <link rel="stylesheet" href="/assets/css/Navbar-Centered-Brand-Dark-icons.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body style="background: #fbff4d;">
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-1">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span class="bounce animated" style="color: var(--bs-cyan);font-family: 'Indie Flower', serif;font-size: 30px;">Diagram Chase Database</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-6"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-6">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="https://github.com/enjoysmath/DiagramChaseDatabase">Source Code</a></li>
                    <li class="nav-item"><a class="nav-link active" href="https://github.com/enjoysmath/DiagramChaseDatabase/issues">Report Bugs</a></li>
                </ul>
                <div class="d-md-none my-2"><a class="btn btn-light me-2" role="button" href="/registration/logout.html" dj-if="user.is_authenticated">Log Out</a><a class="btn btn-primary" role="button" href="/registration/login.html" dj-if="not user.is_authenticated">Log In</a></div>
            </div>
            <div class="d-none d-md-block"><a class="btn btn-light me-2" role="button" href="/registration/logout.html" dj-if="user.is_authenticated">Log Out</a><a class="btn btn-primary" role="button" href="/registration/login.html" dj-if="not user.is_authenticated">Log In</a></div>
        </div>
    </nav>{% load bootstrap5 %}
{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
    <h1 class="text-center" style="margin-left: 14px;">{{user.username}}'s diagrams:</h1>
    <div class="container d-flex flex-row justify-content-around flex-wrap">
        <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">Order by date created</button>
            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
        </div>
        <nav class="d-flex" style="padding: 0px;height: 38px;margin-top: 4px;">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
    </div>
    <div class="w-100"></div>
    <div class="container d-flex flex-row flex-grow-1 flex-fill justify-content-center flex-wrap align-items-xl-start" style="width: 100%;height: auto;padding-left: 0px;margin: 0px;margin-left: 6px;margin-right: 0px;padding-right: 0px;max-width: 100%;">
        <div class="card" dj-for="diagram in diagrams" style="border-radius: 12px;margin: 12px;border-width: 2px;border-color: var(--bs-info);width: 500px;height: auto;min-height: 300px;">
            <div class="card-body">
                <h3 class="card-title" data-bss-hover-animate="pulse" style="padding: 4px;text-align: center;" dj-ref="diagram.name"><a class="d-inline-block float-start btn btn-primary" href="{% url 'diagram_editor' diagram.uid %}" dj-if="user.is_authenticated" style="background: url(&quot;/assets/img/edit-icon.png&quot;) center / cover no-repeat;height: 32px;width: 32px;padding: 0;margin-right: 20px;"></a>{{ diagram.name }}</h3><iframe class="quiver-embed" scrolling="no" src="{% static 'quiver/src/index.html' %}?q={{ diagram.embed_data }}&embed" width="100%" height="300px" style="border: none;overflow: scroll;display: block;"></iframe>

                <p class="card-text">{{ diagram.name }} TODO - Diagram description</p>
            </div>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/django_messages.js"></script>
</body>

</html>